

<div *ngIf="movies.length > 0; else no_movies">
  <ng-template [ngTemplateOutlet]="popularFilms" [ngTemplateOutletContext]="{populars: movieRepository.getPopularMovies()}"></ng-template>

  <h4 class="alert alert-info">{{ movies.length }} films was found</h4>

  <ng-template [ngTemplateOutlet]="movieList"></ng-template>
</div>


<ng-template #no_movies>
  <div class="alert alert-warning">There's no movie</div>
</ng-template>

<ng-template #movieList>
  <div class="card mb-3" *ngFor="let movie of movies">
    <div class="row">
      <div class="col-md-3">
        <img
          src="../../assets/img/{{ movie.image }}"
          class="img-fluid rounded-start w-100"
          alt="gifted"
        />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="car-title">{{ movie.name }}</h2>
          <p class="card-text">
            {{ movie.description }}
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #popularFilms let-populars="populars">
  <h3 class="alert alert-success">Popoulars</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col" *ngFor="let movie of populars">
      <div class="card h-100" >
        <img
              src="../../assets/img/{{ movie.image }}"
              class="img-fluid rounded-start w-100"
              alt="{{movie.name}}"
            />
            <div class="card-body">
              <h2 class="car-title">{{ movie.name }}</h2>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <button class="btn btn-sm btn-outline-primary">Details</button>
            </div>
        
      </div>
    </div>
   
  </div>
  
</ng-template>





