<div *ngIf="movies.length > 0; else no_movies">
  <input type="text" class="form-control" [(ngModel)]="filterText" (ngModelChange)="SearchMovies(filterText)" />
  <!-- <ng-template [ngTemplateOutlet]="popularFilms" [ngTemplateOutletContext]="{populars: movieRepository.getPopularMovies()}"></ng-template> -->

  <h4 class="alert alert-info" *ngIf="(moviesClone.length > 0) else no_movies">{{ moviesClone.length }} films was found</h4>
  <h4 class="alert alert-muted" *ngIf="filterText">text: {{ filterText }}</h4>

  <ng-template [ngTemplateOutlet]="movieList"></ng-template>
</div>

<ng-template #no_movies>
  <div class="alert alert-warning">There's no movie</div>
</ng-template>

<ng-template #movieList>
  <div class="card mb-3" *ngFor="let movie of moviesClone">
    <div class="row">
      <div class="col-md-3">
        <img
          src="../../assets/img/{{ movie.image }}"
          class="img-fluid rounded-start w-100"
          alt="gifted"
        />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="car-title">{{ movie.name }}</h2>
          <p class="card-text">
            {{ movie.description | summary }}
          </p>
          <p class="card-text">
            {{ movie.datePublish | date : "M/d/yy" }}
          </p>
          <a routerLink="/movies/movie/{{movie.id}}" class="btn btn-sm btn-outline-primary">Details</a>
          <button class="btn btn-sm btn-primary ms-2" (click)="AddToList($event,movie)">Add To List</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>